body {
    margin: 0;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

section {
    font-size: 2rem;
    padding: 2rem;
    background-color: #333;
    color: white;
}

.navbar {
    background-color: #C38C63;
    color: white;
    padding: 20px;
    box-shadow: 0 4px 8px 0 #575a5a;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
}

.navbar a {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}
